@page "/Songs"
@using MLocker.WebApp.Services
@using MLocker.Core.Models
@using MLocker.Core.Services
@using Microsoft.AspNetCore.WebUtilities
@inject IMusicService MusicService
@inject IJSRuntime JsRuntime
@inject IFileParsingService FileParsingService
<h1>Songs</h1>

<div>
    @if (_currentSong != null)
    {
        <h3>@_currentSong.Title</h3>
        <h4>@_currentSong.Artist - @_currentSong.Album</h4>
    }
    <audio id="player" src="@_source" controls></audio>
</div>

@if (_songList != null)
{
    <table class="table">
        <tbody>
        @foreach (var item in _songList)
        {
            <tr>
                <td><button @onclick="@(() => PlaySong(item.FileID))">|&gt;</button></td>
                <td>
                    @if (item.PictureMimeType != null)
                    {
                        <img src="@(QueryHelpers.AddQueryString("/GetImage", "fileName", FileParsingService.ParseImageFileName(item)))" class="songImage"/>
                    }
                </td>
                <td>@item.Title</td>
                <td>@item.Artist</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    IEnumerable<Song> _songList = new List<Song>();
    string _source;
    Song _currentSong;

    protected override async Task OnInitializedAsync()
    {
        _songList = await MusicService.GetAllSongs();
    }

    public async Task PlaySong(int fileID)
    {
        _source = MusicService.GetSongUrl(fileID);
        await JsRuntime.InvokeAsync<string>("StartPlayer");
        _currentSong = _songList.Single(x => x.FileID == fileID);
    }
}