@using Microsoft.AspNetCore.WebUtilities
@using MLocker.Core.Services
@using MLocker.Core.Models
@using MLocker.WebApp.Services
@inject IFileParsingService FileParsingService
@inject IPlayerService PlayerService
@implements IDisposable

<tr>
	<td class="songImageCell">
		@if (Song.PictureMimeType != null)
		{
			<div @onclick="@(() => PlaySong(Song))" style="background-image: url(@(QueryHelpers.AddQueryString("/GetImage", "fileName", FileParsingService.ParseImageFileName(Song))))" class="songImage playButton @_nowPlayingClass"></div>
		}
		else
		{
			<div @onclick="@(() => PlaySong(Song))" class="coverPlaceholder songImage playButton @_nowPlayingClass"> </div>
		}
	</td>
	<td @onclick="@(() => PlaySong(Song))" class="clickyText">@Song.Title</td>
	<td>@Song.Artist</td>
</tr>

@code {

	[Parameter]
	public Song Song { get; set; }

	private string _nowPlayingClass;

	protected override void OnInitialized()
	{
		PlayerService.OnChange += RecalcNowPlaying;
		RecalcNowPlaying();
	}

	public void PlaySong(Song song)
	{
		PlayerService.PlaySong(song);
	}

	private void RecalcNowPlaying()
	{
		_nowPlayingClass = Song.FileID == PlayerService.CurrentSong.FileID ? "eq" : string.Empty;
		InvokeAsync(StateHasChanged);
	}

	public void Dispose()
	{
		PlayerService.OnChange -= RecalcNowPlaying;
	}

}