@using Microsoft.AspNetCore.WebUtilities
@using MLocker.Core.Services
@using MLocker.Core.Models
@using MLocker.WebApp.Services
@inject IFileParsingService FileParsingService
@inject IPlayerService PlayerService
@inject IJSRuntime JsRuntime
@inject ISongContextStateService SongContextStateService
@implements IDisposable

<tr>
	<td class="songImageCell">
		@if (Song.Value.PictureMimeType != null)
		{
			<div @onclick="@(() => PlaySong(Song))" style="background-image: url('@(QueryHelpers.AddQueryString(ApiPaths.GetImage, "fileName", FileParsingService.ParseImageFileName(Song.Value)))')" class="songImage playButton @_nowPlayingClass"></div>
		}
		else
		{
			<div @onclick="@(() => PlaySong(Song))" class="coverPlaceholder songImage playButton @_nowPlayingClass"> </div>
		}
	</td>
	<td>@Song.Value.Title</td>
	<td>
		<div class="text-right" @onclick="OpenContext"><div id="@_contextMenuID" class="contextButton"></div></div>
	</td>
	<td class="songSecondaryCell">@Song.Value.Artist</td>
	<td class="songSecondaryCell">@Song.Value.Album</td>
	<td class="songLengthPlayCell">@(new TimeSpan(Song.Value.Ticks).ToString(@"m\:ss"))</td>
	<td class="songLengthPlayCell">@Song.Value.PlayCount</td>
</tr>

@code {

	[Parameter]
	public KeyValuePair<int, Song> Song { get; set; }
	[Parameter]
	public Dictionary<int, Song> ListContext { get; set; }
	[Parameter]
	public bool WillClearQueueOnPlay { get; set; }

	private string _nowPlayingClass;
	private string _contextMenuID;

	protected override void OnInitialized()
	{
		_contextMenuID = "songRow" + Guid.NewGuid().ToString("N").Substring(8,8);
		PlayerService.OnChange += RecalcNowPlaying;
	}

	protected override void OnParametersSet()
	{
		RecalcNowPlaying();
	}

	public void PlaySong(KeyValuePair<int, Song> song)
	{
		if (WillClearQueueOnPlay)
		{
			if (ListContext == null)
				ListContext = new Dictionary<int, Song> {{0, song.Value}};
			PlayerService.PlaySong(song.Value, ListContext, song.Key);
		}
		else
			PlayerService.SkipToSong(song.Key);
	}

	private void RecalcNowPlaying()
	{
		_nowPlayingClass = Song.Value.FileID == PlayerService.CurrentSong?.FileID ? "eq" : string.Empty;
		StateHasChanged();
	}

	public void Dispose()
	{
		PlayerService.OnChange -= RecalcNowPlaying;
	}

	private void OpenContext()
	{
		SongContextStateService.ContextMenuID = _contextMenuID;
		SongContextStateService.Song = Song.Value;
		JsRuntime.InvokeVoidAsync("OpenSongContext", _contextMenuID);
	}
}